/*-------------------------------------------------------*\
    Fonts
/*-------------------------------------------------------*/

/* Sizes */

$base-font-size: 15px;
/* Families */

$primary_font: 'Helvetica', 'Arial', sans-serif;
$secondary_font: 'Georgia', 'Times', serif;

// Fontface
@font-face {
    font-family: Fontname;
    src: url(/path/to/font.woff') format('woff'), url('/path/to/font.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

$normal: 300;
$bold: 700;