/*-------------------------------------------------------*\
  ATOMS : Colors
/*-------------------------------------------------------*/

.primary-background {
	background-color: $primary;
}

.secondary-background {
	background-color: $secondary;
}